/*                                                  Global    / mobile                     */
html {
    box-sizing: border-box;
}

*, *:before,*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover { 
    cursor:pointer;  
}

body{
    font-family: 'Nunito', sans-serif;
    color: black;
}

/*                                                Nav                        */

.logo_container{
    background-color: #222;

}

nav {
    background-color: #222;
    padding: 10px;
    width: 50%;
    z-index: 1;
    position: absolute;
    display: none;
    opacity: 0.9;
}

.logo_nav{
    display: block;
    margin: 0 auto;
}

li > a{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-left: 40px;
    padding: 5px 0;
}


.landing_page{
    background-image: url(/images/landing_img.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    padding: 150px 50px;
    text-align: center;
    padding: 70px 50px;
}

.fa-bars{
    display: block;
    position: absolute;
    color: white;
    left: 10px;
    cursor: pointer;
    padding: 10px;
}

.slogan {
    color: white;
}

/*                                                   home page                              */

main {
    color: black;
}

.latest_post_header{
    padding: 20px;
    font-size: 1.8rem;
    display: none;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.latest_post{
    color: "";
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 4px 8px 3px rgb(0 0 0 / 7%);
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

.homepage_post_title{
    padding: 15px 0;
    color: black;
}

.home_featured_img{
    width: 100%;
    height: auto;
}  

.carousel{
    height: auto;
    position: relative;
    overflow: hidden;
}
.slider{
    height: 100%;
    display: flex;
    width: 400%;

    transition: all 0.4s;
}

.slider div{
    flex-basis: 100%;
}

.controller .arrow{
    position: absolute;
    top: 45%;
    color: black;
    cursor: pointer;
    padding: 10px;
}
.controller .arrow:hover{
    background-color: rgb(158, 158, 158);
}
.left{
    left: 7px;
}
.right{
    right: 7px;
}


.more_posts_container{
    text-align: end;
    padding: 20px;
    margin: 15px 0;
    display: none;
}
.more_posts{
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    background-color: rgb(63, 63, 63);
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 3px;
}

/*                                                 Blog page                                     */

.posts_header{
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-align: center;
}

.blog_featured_img{
    width: 100%;
    height: auto;
}

.blog_post_title{
    margin: 15px;
    color: black;
}

.post_container{
    margin: 20px 0px;
}

.blog_post{
    color: black;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 4px 8px 3px rgb(0 0 0 / 10%);
    margin: 30px 15px;
    padding: 20px;
    border-radius: 10px;
}
.hidden_post{
    display: none;
    display: flex;
}

.view_more_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

}
.view_more_Btn{
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    padding: 8px;
    background-color: rgb(63, 63, 63);
    color: white;
    text-align: center;
    cursor: pointer;
} 

/*                                                   Singel blog                                             */

.blog_post_content{
    display: "";
}
.blog {
    display: "";
}

figure > img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.wp-block-media-text__content> h2{
    margin: 15px;
}
.wp-block-media-text__content> p{
    margin: 20px;
    font: 1.6rem;
    font-weight: 500;
}
.modal_background{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
    pointer-events: none;
    opacity: 0;
}

.modal_background.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: white;
    padding: 15px;
    max-width: 80%;
}
.close_modal{
    display: "";
}


/*                                                 About US                                                */

.about_background{
    background-image: url("/images/about.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 330px;
}

.about_header{
    text-align: center;
    align-items: center;
    color: white;
}

.about_text_container{
    padding: 25px;
}

.about_info_container{
    background-color: #fdfbfb;
}

.about_info, .about_info2{
    padding: 10px 0;
}

/*                                                  Contact                                  */

.contact_container{
    padding: 50px 0;
}

.contact_header{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    padding-top: 5px;
}

.background{
    background-image: url("/images/contact.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: bottom;
}

.contact_form{
    display: block;
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 0px 12px 15px 12px;
    width: 70%;
    margin: 0 auto;
    -webkit-box-shadow: 6px 6px 18px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    6px 6px 18px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         6px 6px 18px 0px rgba(50, 50, 50, 0.54);

}

input[type=text], textarea{
    width: 100%;
    padding: 10px ;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea{
    height: 140px;
}

#sumbit_contact{
    width: 100%;
    padding: 12px 12px 12px 12px;
    margin: 10px 0 0px 0;
    border-radius: 4px;
    background-color: #dadada;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}
#sumbit_contact:hover{
    background-color: #b9b8b8;
    cursor: pointer;

}


label {
    padding: 12px 12px 2px 0;
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;

}

.error{
    color: red;
    font-size: 0.7rem;
    margin: 0px 10px;
    display: inline-block;
    display: none;
}

/*                                                        Footer                              */

footer{
    background-color: #222;
    color: white;
}

.footer_container{
    margin-left: 25px;
    padding: 14px 0;
}

.siamTravel_footer{
    padding: 5px 0;
    border-bottom: white 1px solid;
}

.footer_info{
    padding: 10px 0;
    line-height: 27px;
}

.footer_sosial_media{
    padding: 10px 0;
}

.fa-facebook, .fa-instagram, .fa-twitter{
    padding: 10px 10px;
    cursor: pointer;
}

.footer_newletters{
    padding: 5px 0;
}

.footer_form{
    padding: 5px 0;
}

#emailSub {
    padding: 4px;
    border: none;
    border-radius: 3px;
}

#sub_button{
    padding: 4px;
    border: none;
    border-radius: 3px;
    background-color:#ee4d42;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 90px;
}

.copyRight{
    text-align: center;
    font-size: 0.8rem;
}






@media only screen and (min-width: 520px) {
    /*                                Home page  00000000000000000000000000000000000000000000000000000000000000        */
    .landing_page{
        height: 250px;
    }
    .slogan {
        margin-top: 20px;
    }
    
    .latest_post{
        margin: 10px 130px;
        padding: 25px;
    }
    
    .controller .arrow{
        position: absolute;
        top: 120%;
        color: black;
        cursor: pointer;
    }
    .controller .arrow{
        top: 45%;
    }
    .left{
        left: 12px;
    }
    .right{
        right: 12px;
    }
    
    /*                                                 Blog page   tablet                         */
    
    .posts_header{
        padding: 10px;
        margin: 10px;
        text-decoration: underline;
        text-align: center;
    }
        
    .post_container{
        margin: 20px;
    }
    .posts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(auto, auto);
    }
    .blog_post{

        padding: 0;
    }

    .blog_featured_img{
        width: 100%;
        height: auto;
    }
    .hidden_post{
        display: none;
    }
    
    /*                                                   Singel blog                                             */
    
    .blog_post_content{
        display: "";
    }
    .blog {
        display: "";
    }
    figure > img{
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    .wp-block-media-text__content> h2{
        font-size: 1.7rem;
        margin-left: 20px;
    }
    .wp-block-media-text__content> p{
        font-size: 1.2rem;
        margin-bottom: 40px;
    }
    .modal_background{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: visibility 0s, opacity 0.5s;
        pointer-events: none;
        opacity: 0;
    }
    
    .modal_background.show{
        pointer-events: auto;
        opacity: 1;
    }
    
    .modal{
        background-color: white;
        padding: 10px;
        max-width: 80%;
    }

}





@media only screen and (min-width: 980px) {
    /*                                                Nav        2222222222222222222222222222222                */
    .logo_nav{
        margin: 0 auto;
        position: absolute;
        margin: 2px 0px 0px 25px;

    }
    nav {
        background-color: #222;
        padding: 10px;
        display: block;
        opacity: 1;
        width: 100%;
        text-align: end;
        position: static;
    }

    ul li {
        display: inline;
        text-align: end;
    }
    li > a{
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        margin:  0 40px;
        padding: 5px;
    }
    li > a:hover{

        text-decoration: underline;
        text-underline-offset: 3px;
    }

    .hamburger{
        display: none;
    }



    /*                                   homepage desktop                                       */
    .landing_page{
        height: 270px;
    }
    .slogan {
        margin-top: 20px;
    }
    
    .latest_post{
        margin: 10px 130px;
        padding: 25px;

    }
    
    .controller .arrow{
        position: absolute;
        top: 120%;
        color: black;
        cursor: pointer;
    }
    .controller .arrow{
        top: 50%;
    }
    .left{
        left: 12px;
    }
    .right{
        right: 12px;
    }

    /*                                                 Blog page   desktop                         */
    
    .posts_header{
        padding: 10px;
        margin: 10px;
        text-decoration: underline;
        text-align: center;
    }
        
    .post_container{
        margin: 20px;
    }
    .posts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-auto-rows: minmax(auto, auto);
    }
    .blog_post{

        padding: 0;
    }

    .blog_featured_img{
        width: 100%;
        height: auto;
    }
    .hidden_post{
        display: none;
    }
    
    /*                                                   Singel blog   desktop                                         */
    
    .blog_post_content{
        display: "";
    }
    .blog {
        display: "";
    }
    figure > img{
        width: 100%;
        height: auto;
        cursor: pointer;
    }
    .wp-block-media-text__content> h2{
        font-size: 1.7rem;
        margin-left: 20px;
    }
    .wp-block-media-text__content> p{
        font-size: 1.2rem;
        margin-bottom: 40px;
    }
    .modal_background{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: visibility 0s, opacity 0.5s;
        pointer-events: none;
        opacity: 0;
    }
    
    .modal_background.show{
        pointer-events: auto;
        opacity: 1;
    }
    
    .modal{
        background-color: white;
        padding: 10px;
        max-width: 80%;
    }

    /*                                   Footer       desktop                                 */
    
    footer{
        background-color: #222;
        color: white;
    }

    .footer_container{
        margin: 0 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(auto, auto);
        align-items: center;
        padding: 0;
    }

    .siamTravel_footer{
        padding: 5px 0;
        border-bottom: none;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-bottom: 10px;
    }

    .footer_info{
        padding: 10px 0;
        line-height: 27px;
        margin-left: 60px;
        padding-bottom: 0px;
    }

    .footer_sosial_media{
        padding: 10px 0;
        justify-self: center;
        padding-bottom: 0px;
    }

    .fa-facebook, .fa-instagram, .fa-twitter{
        padding: 10px 10px;
        margin: 10px 0 0 7px;
        cursor: pointer;

    }

    .footer_newletters{
        padding: 5px 0;
        justify-self: end;
        padding-bottom: 0px;
    }

    .footer_form{
        padding: 5px 0;
        margin-top: 10px;
    }
}




/*  

silder nav 
loading / error message


modal



hover over, tekst nav footer, etc


/singel blog header space
/ contact color 
/ loading footer got up 
/ latest post rom 
/ singel blog style 
/ logo click tablet/nav
/text inside blogs?
*/