/*                                                  Global    / mobile                     */
html {
    box-sizing: border-box;
}

*, *:before,*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover { 
    cursor:pointer;  
}

body{
    font-family: 'Nunito', sans-serif;
    color: black;
}

/*                                                Nav                        */

.logo_container{
    background-color: #222;
}

nav {
    background-color: #222;
    padding: 10px;
    width: 50%;
    z-index: 1;
    position: absolute;
    display: none;
    opacity: 0.9;
}

.logo_nav{
    display: block;
    margin: auto;
}

li > a{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-left: 40px;
    padding: 5px 0;
}

.landing_page{
    background-image: url(/images/landing_img.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    padding: 150px 50px;
    text-align: center;
    padding: 70px 50px;
}

.fa-bars{
    display: block;
    position: absolute;
    color: white;
    left: 15px;
    top: 13px;
    cursor: pointer;
}

.slogan {
    color: white;
}

/*                                                   home page                              */

main {
    color: black;
}

.latest_post_header{
    padding: 20px;
    margin: 10px;
    text-decoration: underline;
}

.slider{
    overflow: hidden;
}

.latest_post{
    color: "";
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 4px 8px 3px rgb(0 0 0 / 5%);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.homepage_post_title{
    padding: 15px 0;
    color: black;
}

.home_featured_img{
    width: 100%;
    height: auto;
}

.more_posts_container{
    text-align: end;
    padding: 15px;
}
.more_posts{
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    background-color: rgb(63, 63, 63);
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 3px;
}

/*                                                 Blog page                                     */

.posts_header{
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
}

.blog_featured_img{
    width: 100%;
    height: auto;
}

.blog_post_title{
    padding: 15px 0;
    color: black;
}

.post_container{
    margin: 20px 0px;
}

.blog_post{
    color: black;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 4px 8px 3px rgb(0 0 0 / 5%);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}
.hidden_post{
    display: none;
    
}

.view_more_Btn{
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    padding: 8px;
    background-color: rgb(63, 63, 63);
    color: white;


}

/*                                                   Singel blog                                             */

.blog_post_content{
    display: "";
}
.blog {
    width: 100%;
    height: auto;
}
.wp-block-media-text__media{
    width: 100%;
    height: auto;
}



/*                                                 About US                                                */

.about_background{
    background-image: url("/images/about.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 330px;
}

.about_header{
    text-align: center;
    align-items: center;
    color: white;
}

.about_text_container{
    padding: 25px;
}

.about_info_container{
    background-color: #fdfbfb;
}

.about_info, .about_info2{
    padding: 10px 0;
}

/*                                                  Contact                                  */

.contact_container{
    padding-bottom: 50px;
}

.contact_header{
    text-align: center;
    padding: 15px 0;
    font-size: 1.7rem;
    font-weight: 800;
}

.background{
    background-image: url("/images/contact.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: bottom;
}

.contact_form{
    display: block;
    text-align: left;
    background-color: #dddddd;
    border-radius: 8px;
    padding: 0px 10px 15px 10px;
    width: 70%;
    margin: 0 auto;
    -webkit-box-shadow: 6px 6px 18px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    6px 6px 18px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         6px 6px 18px 0px rgba(50, 50, 50, 0.54);
}

input[type=text], textarea{
    width: 100%;
    padding: 13px ;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea{
    height: 140px;
}

#sumbit_contact{
    width: 100%;
    padding: 12px 12px 12px 12px;
    margin: 10px 0 0px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 600;
}

input[type=submit] :hover{
    cursor: pointer;
}

label {
    padding: 12px 12px 2px 0;
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

.error{
    color: red;
    font-size: 0.7rem;
    margin: 0px 10px;
    display: inline-block;
    display: none;
}

/*                                                        Footer                              */

footer{
    background-color: #222;
    color: white;
}

.footer_container{
    margin-left: 25px;
    padding: 14px 0;
}

.siamTravel_footer{
    padding: 5px 0;
    border-bottom: white 1px solid;
}

.footer_info{
    padding: 10px 0;
    line-height: 27px;
}

.footer_sosial_media{
    padding: 10px 0;
}

.fa-facebook, .fa-instagram, .fa-twitter{
    padding: 10px 10px;
}

.footer_newletters{
    padding: 5px 0;
}

.footer_form{
    padding: 5px 0;
}

#emailSub {
    padding: 4px;
    border: none;
    border-radius: 3px;
}

#sub_button{
    padding: 4px;
    border: none;
    border-radius: 3px;
    background-color:#ee4d42;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 90px;
}

.copyRight{
    text-align: center;
    font-size: 0.8rem;
}













@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 990px) {

}
